body {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    background: transparent;
}

section h1 {
    font-family: 'Bree Serif', serif;
    text-align: center;
    position: relative;
    font-size: 68px;
    top: 68px;
    color: #21332d;
}

Section p{
    margin: 200px 100px 0px 100px;
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    color:black;
}

header img{
    border: 2px solid black ;
    position: relative;
    left: -530px;
    height: 77px;
    top: -20px;
    width: 100px;
}

header::before{
    content: "";
    background: url('b5.jpg') no-repeat center center/cover;
    background-color: transparent;
    position: absolute;
    width: 100%; 
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.95;
}


header {
    background-color: rgb(243, 232, 232);
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    
    display: flex;
    border-radius: 10px ;
    flex-direction: row-reverse;
    box-sizing: border-box;
    flex-wrap: wrap;

    height: 80px;
}

nav ul {
    list-style: none;
    margin-right: 35px;
    margin-top: 15px;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
   
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin: 25px;
    transition: color 0.2s ease-in-out;
}

nav a:hover {
    color: #f44336;
}


main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #f44336;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input,textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

button[type="submit"] {
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
}
button:hover{
    background-color: #0066ff;
}

h1{
    text-align: center;
    font-size: 60px;
}

body>h1{
    font-size: 7em;
    font-family: 'Amatic SC', cursive;
    width: 50%;
    position: relative;
    left: 23rem;
    color: #f44336;
    background: url('pfbg.avif') ;
    border-radius: 10rem;

}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    background: url('b5.jpg') ;
    height: auto;
}


h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: azure;
}


.place1,.place2,.place3,.place4,.place5,.place6 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 50px;
    background-color: #a1b1da;
}


.vanvihar,.bhimbetka,.bhojtal,.shauryasmarak {
    flex: 1;
    padding: 20px;
}


.vanvid,.bhimvid,.bhojvid,.shauryavid {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}

.h {
    text-align: center;
    margin-top: 100px;
}


p {
    line-height: 1.5;
    text-align: justify;
}


a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #0066ff;
    /* text-decoration: underline; */
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main1 {
    height: 10vh;
    margin: 50px 500px 0px 500px;
}

h2 {
    position: relative;
    text-align: center;
    bottom: 3rem;
    right: 10rem;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;

}

footer {
    
    position: absolute;
    background-color: rgb(203, 200, 200);
    width: 100%;
    height: 15%;
    
}
footer p{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
}